
	<!-- [ navigation menu ] start -->
	<nav class="pcoded-navbar menupos-fixed menu-light ">
		<div class="navbar-wrapper  ">
			<div class="navbar-content scroll-div " >
				<ul class="nav pcoded-inner-navbar ">
					<li class="nav-item pcoded-menu-caption">
						<label>Navigation</label>
					</li>
					
					<li class="nav-item">
					    <a href="/dash" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a>
					</li>
					
					
					<li class="nav-item pcoded-menu-caption">
					    <label>Registration Forms</label>
					</li>
					<li class="nav-item">
					    <a href="/patregis" class="nav-link "><span class="pcoded-micon"><i class="feather icon-file-text"></i></span><span class="pcoded-mtext">Patients</span></a>
					</li>
					<li class="nav-item">
					    <a href="/docregis" class="nav-link "><span class="pcoded-micon"><i class="feather icon-file-text"></i></span><span class="pcoded-mtext">Doctors</span></a>
					</li>
					<li class="nav-item pcoded-menu-caption">
						<label>MACHINE</label>
					</li>
					<li class="nav-item">
					    <a href="/heartcheck" class="nav-link "><span class="pcoded-micon"><i class="feather icon-align-justify"></i></span><span class="pcoded-mtext">HEART DISEASE CHECK</span></a>
					</li>
					
					<li class="nav-item pcoded-menu-caption">
						<label>EDIT DETAILS</label>
					</li>
					<li class="nav-item ">
					    <a href="/doctable" class="nav-link "><span class="pcoded-micon"><i class="feather icon-edit"></i></span><span class="pcoded-mtext">Doctors</span></a>
					</li>
					<li class="nav-item">
					    <a href="/pattable" class="nav-link "><span class="pcoded-micon"><i class="feather icon-edit"></i></span><span class="pcoded-mtext">Patients</span></a>
					</li>
					
					</div>
				</div>
				
			</div>
		</div>
	</nav>
    <!-- [ navigation menu ] end -->
